
table {
    border-collapse: collapse;
}
.table-bordered td  {
    border: 0.1px solid #a8a8a891;
}
.table-bordered tr td  {
    vertical-align: middle;
}
.table-bordered .highlight  {
    background: rgba(235, 235, 235, 0.856);

}
.table-bordered   {
    background: rgba(255, 255, 255, 0.856);
}

.table{
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    font-weight: bolder;
    font-size: 1rem;
}
.last{
    font-weight: bolder;
    font-size: 1.5rem;
    color: crimson;
}
.table_title{
    background: #019386;
    text-transform: uppercase;
    border: 0.1px solid #a8a8a891;
}
.table_title th{
    color: white;
}
.table_title th a{
    color: white;
    border-radius: 3px 3px 0 0;
    text-decoration: none;
    
} 
