@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat',sans-serif;
}
.nav-links {
    margin-top:  1px;
    font-size: 1vw;
    padding: 0.5rem 1rem;
    text-decoration: none;
    color:  rgb(255, 255, 255);
}
.nav-links:hover {
    background-color: rgba(247, 199, 122, 0.836);
    border-radius: 4px;
    transition:  all 0.1s ease-out;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border-color: rgb(255,255,255);
  }
.body{
    font-size: 15px;
    font-weight: 400;
    margin: 0 auto;
    padding: 0;
    background: #e1e3e4;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}
.NavbarItems{
    background: #c00;
    height: 60px;
    margin-top: 40px;
    font-size: 3vw;
    display: flex ;
    justify-content: center;
    align-items: center;
}
.navbar-logo{
    color: #fff; 
    font-size: 25px;
    margin-top: 5px;
    min-width: 150px;
    cursor:pointer;
}
.faBar{
    color: #fff;
    margin-left: 0px;
}
.nav-menu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: auto;
    list-style: none;
    text-align: center;
    width: 50vw;
    justify-content: end;
    margin-right: 2rem;
}
.menu-icon{
    display: none;
}
.nav-menu.active
{
    display: none;
}
@media screen and (max-width : 1090px){
    .NavbarItems{
        position: relative;
    }
    .nav-menu{
        display: none;
        flex-direction: column;
        width:  100%;
        height: auto;
        margin-left: 0;
        position: absolute;
        top: 65px;
        left: 100%;
        opacity: 0.5;
        z-index: 1;
        transition: all 10ms ease-in-out;
        
        
    }
    .nav-menu.active{
        display: block ;
        background: #ee5252 ;
        left: 0;
        opacity: 1;
        transition:  all 0.5 ease;
        z-index: 1;
    }
    .nav-links{
        text-align: center ;
        padding: 2rem;
        width: 100%;
        display: table;
        font-size: 20px;
    }
    .nav-links:hover{
        background-color: rgba(247, 199, 122, 0.836);
        border-radius: 4px;
        transition:  all 0.1s ease-out;
    }
    .navbar-logo{
        position: absolute ;
        margin-top: 15px;
        margin-left: 15px;
        top: 0;
        left: 0;
        transform: translate((25%,50%));
    }
    .menu-icon{
        display: block ;
        position: absolute;
        top: 0;
        right: 0;
        margin-right: 15px;
        margin-top: 7px;
        transition: translate((-100%,60%));
        font-size: 1.8rem;
        cursor: pointer;
    }
    .container, .main {
        max-width: 1090px;
    }
    

}
.dai_link{
    background: #ffffff;
    color: rgb(0, 0, 0);
    text-decoration-line: none;
    line-height: 32px;
    font-size: 16px;
    padding: 2px 0.3rem;
    font-weight: 900;
    
}
.column_dai
{
    width: 100%;
}
.dai_link:hover{
    background-color: #e25d5d;
    border-radius: 4px;
    transition:  all 0.1s ease-out;
    color: #fff;
}
.content-right li {
    padding: 5px;
    border-bottom: 1px dotted #f3f3f3;
}
.container, .main {
    max-width: 1090px;
    margin: 0 auto;
}
.clearfix::after {
    display: block;
    content: "";
    clear: both;
}
.col-l,.col-right,.col-center {
    display: block;
}
@media screen and (min-width : 1090px){
    .col-l {
        width: 220px;
        float: left;
        padding-right: 5px;
    }
    .col-center{
        width: 565px;
        display: inline-block;
    }
    .col-right {
        width: 300px;
        float: right;
        margin-left: 5px;
    }
}
@media screen and (max-width : 1111px){
    .col-l,.col-right {
        display: none;
    }
}
.content-right {
    background-color: #fff;
    margin-bottom: 5px;
    display: block;
}
.title-r {
    background-color: #f52727;
    color: #fff;
    padding: 10px 5px;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    -webkit-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
}
.content-item-menu{
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.bullet::before {
    background: url(https://xoso.me/css/images/bulett5.png) 0 5px no-repeat;
    width: 10px;
    height: 15px;
    display: inline-block;
    content: "";
    vertical-align: middle;
}
